.box1{
    width: 300px;
    height: 200px;
    background-color:rgb(189, 205, 235);
    border-radius: 10px;
    text-align: center;
}
.box2{
    width: 300px;
    height: 200px;
    background-color:rgb(189, 205, 235);
    border-radius: 10px;
    text-align: center;

}
.box-Form{
    width: 300px;
    height: 250px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;


}