.box{
    background-color: rgb(144, 197, 189);
}
.box li, span{
    font-size: 22px;
    font-weight: 500;
}
.student-image{
    width:300px;
    height: 360px;

}
.box2{
margin-left:30px ;
}
<<<<<<< HEAD

.info-heading{
    color:#1f34d4 ;
=======
.info-heading {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.student-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    float: right;
    margin-left: 10px;
}
.list-group-item {
    border: none;
}
.info-label {
    font-weight: bold;
    margin-right: 5px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    font-size: 0.9rem;
    margin-bottom: 8px;
}
p {
    background: #808080;
    border-radius: 10px;
    text-align: center;
}
a[href^="mailto"] {
    text-decoration: none;
    color: inherit;
>>>>>>> 124146d038e70892f71e3891c250d3e292416445
}