.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.info-heading {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.student-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    float: right;
    margin-left: 10px;
}
.list-group-item {
    border: none;
}
.info-label {
    font-weight: bold;
    margin-right: 5px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    font-size: 0.9rem;
    margin-bottom: 8px;
}
p {
    background: #808080;
    border-radius: 10px;
    text-align: center;
}
a[href^="mailto"] {
    text-decoration: none;
    color: inherit;
}