.contenedor {
    /* width: 500px; */
    background-color: #91ddd9;
    border-radius: 12px;
    margin-top: 12px;
}

.col {
    margin: 0 10px;
}

.form-control {
    background-color: #ffffff;
    border-radius: 8px;
}